<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="petsfinder.abandonedanimal.AbandonedAnimalDAOImpl">
   
   <!-- 유기동물 상세보기 -->
   <select id="abandonedAnimalView" resultType="petsfinder.abandonedanimal.AbandonedAnimalDTO"
  		parameterType="petsfinder.abandonedanimal.AbandonedAnimalDTO">
  		select 
		    a.*, NVL(b.member_idx, 0) adoptmember_idx, 
		    decode(a.abani_gender,'F','암컷','M','수컷','불명') abani_gender1 
		from 
		    abandonedAnimal a 
		left OUTER JOIN 
		    ADOPTION_list b 
		on 
		    a.abani_idx=b.abani_idx 
		where a.abani_idx=#{abani_idx}
   </select>
  	
  	<!-- 유기동물 전체 수 가져오기 -->
  	<select id="abAniGetTotalCount" resultType="int" parameterType="petsfinder.abandonedanimal.ParameterDTO">
  		SELECT COUNT(*) from abandonedAnimal
  		<!-- 날짜로 검색 -->
  		<if test="sD!=null and eD!=null"> 
			WHERE
				TO_CHAR(abani_regdate, 'YYYY-MM-DD')<![CDATA[>=]]>#{sD} 
    		and 
    			TO_CHAR(abani_regdate, 'YYYY-MM-DD')<![CDATA[<=]]>#{eD}
		</if>
		<!-- 종과 성별로 검색 -->
  		<if test="species!=null or gender!=null"> 
			WHERE 
				abani_gender like '%'||#{gender}||'%' 
			and 
				abani_species like '%'||#{species}||'%'
		</if>
  	</select>
  	<!-- 유기동물 리스트 가져오기 -->
  	<select id="abAniListPage" resultType="petsfinder.abandonedanimal.AbandonedAnimalDTO" parameterType="petsfinder.abandonedanimal.ParameterDTO">
  		SELECT * FROM (
  			SELECT Tb.*, rownum rNum FROM (
  				SELECT * FROM abandonedAnimal 
  				<!-- 날짜로 검색 -->
		  		<if test="sD!=null and eD!=null"> 
					WHERE
						TO_CHAR(abani_regdate, 'YYYY-MM-DD')<![CDATA[>=]]>#{sD} 
		    		and 
		    			TO_CHAR(abani_regdate, 'YYYY-MM-DD')<![CDATA[<=]]>#{eD}
				</if>
				<!-- 종과 성별로 검색 -->
		  		<if test="species!=null or gender!=null"> 
					WHERE 
						abani_gender like '%'||#{gender}||'%' 
					and 
						abani_species like '%'||#{species}||'%'
				</if>
  				ORDER BY abani_idx DESC 
  			) Tb
  		)
  		WHERE rNum<![CDATA[>=]]>#{start} AND rNum<![CDATA[<=]]>#{end}
  	</select>
  	
  	<!-- 유기동물 신고 저장 -->
  	<insert id="notifyForm" parameterType="petsfinder.abandonedanimal.ReportDTO">
		INSERT INTO REPORT_ABANDONED_ANIMALS( dclrAbnd_idx,	dclrAbnd_loc, dclrAbnd_title, dclrAbnd_content
											, dclrAbnd_photo, dclrAbnd_regdate,	dclrAbnd_stts, member_idx )
									VALUES(	SEQ_REPORT_idx.nextval, #{dclrAbnd_loc}, #{dclrAbnd_title}, #{dclrAbnd_content}
											, #{dclrAbnd_photo}, sysdate, 'reg', #{member_idx})
	</insert>
  	<!-- 유기동물 후기 리스트 가져오기 -->
  	<select id="abaAniReview" resultType="petsfinder.review.ReviewBoardDTO">
  		select a.*,  NVL(b.countlike, 0) as countlike
		from (select r.*, m.member_name member_namer
	        from review_board r, member m 
	        where r.member_idx=m.member_idx and abani_idx=#{param1}
	        order by review_idx desc) a 
		left OUTER JOIN (select  review_idx, count(review_idx) countlike 
                   	 	from review_like  where reviewLike_stt=1 group by review_idx) b 
		on a.review_idx=b.review_idx
  	</select>
  	<!-- 그 입양동물 상세보기에서 쓰인 후기들의 댓글을 모두 가져오기 -->
  	<select id="reviewComment" resultType="petsfinder.review.ReviewCommentDTO">
  		select 
		    a.*, b.member_name member_namec
		from (select * 
		    from review_Comment 
		    where review_idx 
		    in(select review_idx 
		        from review_board 
		        where abani_idx=#{param1})) a, member b 
		where a.member_idx=b.member_idx
  	</select>
  	
  	<!-- 후기의 댓글 저장 -->
  	<insert id="commentInsert" parameterType="petsfinder.review.ReviewCommentDTO">
		INSERT INTO review_Comment( reviewcomm_idx,	reviewcomm_content, reviewcomm_regdate, review_idx,member_idx)
									VALUES(	SEQ_reviewcomm_idx.nextval, #{reviewcomm_content}, sysdate, #{review_idx}
										, #{member_idx})
	</insert>
	
	
	<!-- 좋아요 유무확인 -->
	<select id="likeStatus" resultType="petsfinder.review.ReviewLikeDTO"
	parameterType="petsfinder.review.ReviewLikeDTO">
		select * from review_like where review_idx = #{review_idx} and member_idx = #{member_idx}
	</select>
	
	<!-- 좋아요 저장 -->
	<insert id="insertLike" parameterType="petsfinder.review.ReviewLikeDTO">
		INSERT INTO review_like(reviewlike_idx, reviewlike_stt, review_idx, member_idx)
                           VALUES(SEQ_reviewlike_idx.nextval,1, #{review_idx}, #{member_idx})
	</insert>
	
	<!-- 좋아요 0->1 -->
	<update id="likeZeroToOne" parameterType="petsfinder.review.ReviewLikeDTO">
		update review_like set reviewlike_stt = 1 where review_idx = #{review_idx} and member_idx = #{member_idx}
	</update>
	
	<!-- 좋아요 1->0 -->
	<update id="likeOntToZero" parameterType="petsfinder.review.ReviewLikeDTO">
		update review_like set reviewlike_stt = 0 where review_idx = #{review_idx} and member_idx = #{member_idx}
	</update>
	
	<!-- 사용자가 좋아요한 후기 목록 -->
	<select id="likeList" resultType="petsfinder.review.ReviewLikeDTO">
		select l.*
		from review_board b , review_like l 
		where b.review_idx=l.review_idx and l.member_idx=#{param1} and l.reviewlike_stt=1
	</select>
	
	<!-- 입양 신청 저장 -->
  	<insert id="AdoptApplicationForm" parameterType="petsfinder.abandonedanimal.AdoptionAppDTO">
		INSERT INTO ADOPTION_APPLICATION( ADPAPL_idx, ADPAPL_name, ADPAPL_gender, ADPAPL_birth
											, ADPAPL_tel, ADPAPL_addr,	ADPAPL_job, ADPAPL_exp
											, ADPAPL_havepet, adpapl_fNum, abani_idx, member_idx )
									VALUES(	SEQ_ADPAPL_idx.nextval, #{ADPAPL_name}, #{ADPAPL_gender}, #{ADPAPL_birth}
											, #{ADPAPL_tel}, #{ADPAPL_addr}, #{ADPAPL_job}, #{ADPAPL_exp}
											, #{ADPAPL_havepet}, #{adpapl_fNum}, #{abani_idx}, #{member_idx} )
	</insert>
	
	
  	<!-- 입양 후기 후기 리스트 -->  
	<select id="reviewGetTotalCount" resultType="int">
		SELECT COUNT(*) from review_board where review_flag='adp'
	</select>
	
	<select id="listPage" resultType="petsfinder.review.ReviewBoardDTO">
		select c.*, d.member_name member_name from 
		(select a.adoplist_idx, b.* from ADOPTION_list a, 
		review_board b where a.abani_idx=b.abani_idx and review_flag ='adp' order by review_idx desc) c, 
		member d where c.member_idx=d.member_idx
	</select>
	
	<!-- 유기동물 등록 -->
	<insert id="abAniRegist" parameterType="petsfinder.abandonedanimal.AbandonedAnimalDTO">
		INSERT INTO abandonedAnimal( abani_idx, abani_kind, abani_gender
									, abani_loc, abani_regdate,	abani_neut, abani_stat
									, abani_photo, abani_age, abani_vaccin, abani_species,abani_char )
                VALUES(	SEQ_abani_idx.nextval, #{abani_kind}, #{abani_gender1}, #{abani_loc}
                        , #{abani_regdate}, #{abani_neut}, 'prtct', '사진경로'
                        , #{abani_age}, #{abani_vaccin}, #{abani_species}, #{abani_char} )
	</insert>
  	
  	
   
   </mapper>