<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="petsfinder.member.MemberDAOImpl">

	<select id="memberLogin" resultType="petsfinder.member.MemberDTO" parameterType="petsfinder.member.MemberDTO">
		SELECT member_idx,
				member_id,
				member_pass,
				member_type, 
				member_email,
				member_addr,
				member_name,
				member_phone,
				member_reg,
				to_char(member_birth, 'yyyy-mm-dd') member_birth,
				member_gender,
				member_photo FROM member WHERE member_id = #{ member_id } and member_pass = #{ member_pass }
	</select>
	
	<insert id="memberInsert" parameterType="petsfinder.member.MemberDTO">
		insert into member 
			(
				member_idx,
				member_id,
				member_pass,
				member_type, 
				member_email,
				member_addr,
				member_name,
				member_phone,
				member_reg,
				member_birth,
				member_gender
			)
		values 
			(SEQ_member_idx.nextval, #{ member_id }, #{ member_pass }, 'nor', #{ member_email },
				#{ member_addr }, #{ member_name }, #{ member_phone }, sysdate, #{ member_birth }, #{ member_gender })
	</insert>
	
	<select id="idValidate" resultType="String">
		SELECT member_id FROM member WHERE member_id = #{ param1 }
	</select>

	<select id="idSearch" resultType="String" parameterType="petsfinder.member.MemberDTO">
		SELECT member_id FROM member WHERE member_name = #{ member_name } and member_email = #{ member_email }
	</select>
	
	<select id="pwSearch" resultType="String" parameterType="petsfinder.member.MemberDTO">
		SELECT member_pass FROM member WHERE member_name = #{ member_name } and member_id = #{ member_id } and member_email = #{ member_email }
	</select>
	
	<update id="pwReset" parameterType="petsfinder.member.MemberDTO">
		UPDATE member SET member_pass = #{ member_pass } WHERE member_id = #{ member_id } and member_name = #{ member_name }
	</update>
	
	<update id="infoUpdate" parameterType="petsfinder.member.MemberDTO">
		UPDATE member SET member_email = #{ member_email }, member_phone = #{ member_phone }, member_addr = #{ member_addr }
		<if test="member_photo != null">
			, member_photo = #{ member_photo } 
		</if>
		WHERE member_id = #{ member_id }
	</update>
	
	<update id="memberType" parameterType="String">
		UPDATE member SET member_type = 'sit' WHERE member_id = #{ member_id }
	</update>
	
	<select id="addr" resultType="String">
		select member_addr from member where member_idx = #{ member_idx }
	</select>
	
	<select id="adpReview" resultType="petsfinder.review.ReviewBoardDTO">
		select rb.*, member_name member_namer, member_photo from review_board rb left outer join member m on rb.member_idx = m.member_idx where review_flag = 'adp' and m.member_idx = #{ param1 }
	</select>
	
	<select id="sitReview" resultType="petsfinder.review.ReviewBoardDTO">
		select rb.*, member_name member_namer, member_photo from review_board rb left outer join member m on rb.member_idx = m.member_idx where review_flag = 'sit' and m.member_idx = #{ param1 }
	</select>
	
	<select id="myReview" resultType="petsfinder.review.ReviewBoardDTO">
		select rb.*, member_name member_namer, member_photo from review_board rb left outer join member m on rb.member_idx = m.member_idx where review_idx = #{ param1 }
	</select>
	
	<update id="review_up">
		update review_board set review_content = #{ param1 }, review_regdate = sysdate where review_idx = #{ param2 }
	</update>
	
	<delete id="review_del">
		delete from review_board where review_idx = #{ param1 }
	</delete>
	
	<select id="m_Reserve" resultType="petsfinder.petsitter.PetSitterDTO">
		SELECT 
		    sbook_idx, sb.sit_idx, sbook_date, to_char(sbook_start, 'yyyy-mm-dd') sbook_start, to_char(sbook_end, 'yyyy-mm-dd') sbook_end,
		    sbook_status, p_celldata, totalprice, sb.member_idx member_idx, member_name, sit_addr
		FROM 
		    sit_book sb
		INNER JOIN
		    sitter s
		ON
		    sb.sit_idx = s.sit_idx
		INNER JOIN
		    member m
		ON
		    s.member_idx = m.member_idx
		WHERE 
		    sb.member_idx = #{ member_idx }
		ORDER BY sbook_start asc
	</select>
	
	<update id="up_Reserve">
		UPDATE sit_book SET sbook_status = #{ param1 } WHERE sbook_idx = #{ param2 }
	</update>
	
	<insert id="reviewWrite" parameterType="petsfinder.review.ReviewBoardDTO">
		INSERT INTO review_board (
			review_idx, review_content, review_regdate, review_flag, member_idx,
			<!-- <if test="!review_photo.equals('') and review_photo != null">
				review_photo,
			</if> -->
			<choose>
				<when test="review_flag.equals('adp')">
					abani_idx
				</when>
				<when test="review_flag.equals('sit')">
					sit_idx
				</when>
				<when test="review_flag.equals('shp')">
					product_idx
				</when>
			</choose>
			
		) VALUES (seq_review_idx.nextval, #{ review_content }, sysdate, #{ review_flag }, #{ member_idx },
			<!-- <if test="!review_photo.equals('') and review_photo != null">
				#{ review_photo },
			</if> -->
			<choose>
				<when test="review_flag.equals('adp')">
					#{ abani_idx }
				</when>
				<when test="review_flag.equals('sit')">
					#{ sit_idx }
				</when>
				<when test="review_flag.equals('shp')">
					#{ product_idx }
				</when>
			</choose>
			)
	</insert>
	
</mapper>

